@model NotificationListDto
@{
    Layout = "_AdminLayout";
}

<div class="mt-2">
    @foreach (var n in Model.Notifications)
    {
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <strong>@n.Name</strong>
            <p>@n.Description</p>
            <button id="readNotification" data-notificationId="@n.Id" class="btn btn-success">
                <i class="fa fa-eye" aria-hidden="true"></i> Oku
            </button>
        </div>
    }
</div>
@section scripts{
    <script>
        $(document).ready(function() {
            $(document).on('click','#readNotification',function(e) {
                e.preventDefault();
                const id = $(this).attr('data-notificationId');
                $.ajax({
                    url:"/Notification/Read/",
                    data: {}
                });
            });
        });
    </script>
}