@model List<UserWithRolesViewModel>
@{
    Layout = "_AdminLayout";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Roles">Roller</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kullanıcı Rolleri</li>
    </ol>
</nav>
<table class="table table-hover table-responsive">

    <thead>
        <tr>
            <th scope="col">Kullanıcı Adı </th>
            <th scope="col">Kullanıcı EMail </th>
            <th scope="col">Kullanıcı Rolleri </th>
            <th scope="col">Rol Atama İşlemleri </th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Username</td>
                <td>@item.EMail</td>
                <td>
                    @if (item.Roles.Count > 0)
                    {

                        @foreach (var role in item.Roles)
                        {
                            <p>@role.RoleName</p>
                        }

                    }




                </td>
                <td>                         <a asp-action="AssignRoles" asp-route-userId="@item.UserId" class="text-white btn btn-success"><i class="fas fa-plus"></i> Rol Ata</a></td>
            </tr>
        }


</table>