<li class="nav-item">
    <a asp-controller="Notification" asp-action="List" class="nav-link" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell" aria-hidden="true"></i><span class="badge badge-light">@ViewBag.Notification</span></a>
</li>