@model LetAddDto
@{
    ViewBag.Title = "İzin Al";
    Layout = "_AdminLayout";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"><i class="fa fa-home" aria-hidden="true"></i> Ana Sayfa</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">İzin Al</a></li>
    </ol>
</nav>

<div asp-validation-summary="All" class="text-danger">
</div>

<form method="post" class="shadow p-3" asp-controller="Let" asp-action="LetAdd">
    <div id="baslik" class=" text-center mt-4">
        <h1 class="lead display-5">İzin Dilekçesi Oluşturma Formu </h1>
    </div>
    <div class="form-group">
        <label>İzin Başlangıç Tarihi :</label>
        <input  class="form-control" id="datepicker" value="@DateTime.Now.ToShortDateString()" name="StartDate" />
        <span class="text-danger" asp-validation-for="StartDate"></span>
    </div>
    <div class="form-group">
        <label>İzin Bitiş Tarihi :</label>
        <input class="form-control" id="datepicker1" value="@DateTime.Now.ToShortDateString()" name="EndDate" />
        <span class="text-danger" asp-validation-for="EndDate" ></span>
    </div>
    <div class="form-group">
        <label>Kaç Gün? :</label>
        <input asp-for="DayCount" class="form-control" />
        <span class="text-danger" asp-validation-for="DayCount"></span>
    </div>
    <div class="form-group">
        <label>Notlar :</label>
        <textarea asp-for="Note" class="form-control" rows="5" cols="4"></textarea>
        <span class="text-danger" asp-validation-for="Note"></span>
    </div>

    <button type="submit" class="btn btn-success mt-3"> İmzala</button>
</form>

@section css
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/flick/jquery-ui.min.css" integrity="sha512-Yx7L3AmO2yN7qIM1uM0Mqx6ld35SZj7oyG/gZ668QNvBzJsvoQebhFpsl1zEYVR6jtYCpXcCmewCuhvHrjDhog==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/flick/theme.min.css" integrity="sha512-VWoNiZ/8gXnhL2bMWHGku9Oy67OJa3bjHMgx82nBMJMBhS+ZTGxRdyonqW3K92FuhUIn+VR4rMTyuhJ9JhUmow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

    @section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function() {
            $("#datepicker").datepicker({
            closeText: "kapat",
            prevText: "&#x3C;geri",
            nextText: "ileri&#x3e",
            currentText: "bugün",
            monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran",
                "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            monthNamesShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz",
                "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
            dayNames: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"],
            dayNamesShort: ["Pz", "Pt", "Sa", "Ça", "Pe", "Cu", "Ct"],
            dayNamesMin: ["Pz", "Pt", "Sa", "Ça", "Pe", "Cu", "Ct"],
            weekHeader: "Hf",
            dateFormat: "dd.mm.yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: "",
            duration: 500,
            minDate: 0,
            maxDate:10
        });
            $("#datepicker1").datepicker({closeText: "kapat",
            prevText: "&#x3C;geri",
            nextText: "ileri&#x3e",
            currentText: "bugün",
            monthNames: ["Ocak", "Şubat", "Mart", "Nisan", "Mayıs", "Haziran",
                "Temmuz", "Ağustos", "Eylül", "Ekim", "Kasım", "Aralık"],
            monthNamesShort: ["Oca", "Şub", "Mar", "Nis", "May", "Haz",
                "Tem", "Ağu", "Eyl", "Eki", "Kas", "Ara"],
            dayNames: ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"],
            dayNamesShort: ["Pz", "Pt", "Sa", "Ça", "Pe", "Cu", "Ct"],
            dayNamesMin: ["Pz", "Pt", "Sa", "Ça", "Pe", "Cu", "Ct"],
            weekHeader: "Hf",
            dateFormat: "dd.mm.yy",
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: "",
            duration: 500,
            minDate: 0,
            maxDate:10});
        });
    </script>

}