
@{
    Layout = "_Layout";
    ViewBag.Title = "Şifre Resetleme";
}

<div class="alert alert-success mt-4" role="alert">
    <h4 class="alert-heading mt-4">İşlem Başarılı!</h4>
    <p>Şifre resetme işleminiz başarıyla gerçekleşti.Yeni bilgilerinizle giriş yapınız</p>

    <a asp-controller="Auth" asp-action="Login" class="btn btn-success">Giriş Yap</a>
</div>