@{
    Layout = "_Layout";
    ViewBag.Title = "Mail Gönderme";
}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading mt-4">İşlem Başarılı!</h4>
    <p>Eğer verdiğiniz e-posta adresi veritabanımızda mevcut ise tarafınıza şifre resetleme linki gönderilecektir</p>
   
 
</div>