@model ResetPasswordViewModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Şifremi resetle";
}
<div asp-validation-summary="All" class="text-danger"></div>
<form class="w-75 mx-auto my-auto p-3 mt-3 shadow" method="post">
    <input asp-for="Token" type="hidden"/>
    <input asp-for="EMail" type="hidden"/>
    <div class="form-group">
        <label>Yeni Şifreniz</label>
        <input class="form-control" asp-for="NewPassword"/>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Yeni Şifreniz(tekrar)</label>
        <input class="form-control" asp-for="NewPasswordConfirm" />
        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success mt-3">Şifremi Değiştir</button>
</form>

