@{
    Layout = "_SiteLayout";
    ViewBag.Title = "Ustasından Öğren";
}

    <div class="container-fluid">
        <div class="row jumbotron">

            <div class="col-md-12 mt-3 text-center">
                <h2 class="display-3" style="font-size: 6vw;">Mobil 1 Ustasından Öğren Video Serisi</h2>
            </div>
            <div class="col-md-4 mt-5 ">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Akü Bilgileri</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Sqn3PZa3MY4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Araçta Kaçak Elektrik Akımı Kontrolü</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Deuxa9kLtMw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Bakım Sıfırlama</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/IqsVSKpP2Ks" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Dizel Motorda Enjektör</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/37SAkkEvBC0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Dizel Partikül Filtresi Rejenerasyonu</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/wuaw8JP96SI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Elektrikli Park Freni</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/4StJqEdcsj4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Fren Hidroliği Testi</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/DhSH0OUmOPM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Kızdırma Bujisi</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/RH80S2Tzo3U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Motor Soğutma Suyunun Kontrolü</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/eUHt2WRwbTw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Otomatik Şanzıman</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/U-fYERUysOE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5">
                <div class="bg-dark rounded  p-2">
                    <p class="text-center"><strong>Turboşarj Sistemi</strong></p>
                    <div class="embed-responsive embed-responsive-1by1">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/VrQP3Wjsn7E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
